
body {
    background-image: url(./img/planofundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;      
    width: 100%;
    height: 100%;
    color:rgb(105, 11, 124);    
    border: 4px solid whitesmoke;
}

.content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-right: 60vh;        
}  

.main {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;       
}

.photo { 
    display: flex;   
    height: 240px;
    padding: 10px;
    max-height: 60vh;    
    background: #fff;
    top: 150px;
    left: 150pt;  
    margin-bottom: 20px;
    border-radius: 100%;   
    border-bottom-left-radius: 10px; 
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;  
    align-content:center;     
    top: 220px;        
}

.social-media{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: inherit;
    color:purple;
    margin: 14px 0;
    padding: 0;      
}

.social-media p{
    font-family: 'Josefin Sans', sans-serif;
    color: purple;
    font-size: 23px;
}

.social-media li{
    flex-grow: 1;
    margin-left: 5px ;
    font-size: 15px;
}

.social-media li a{
    border-radius: 3px;
    padding: 10px;
    display: block;
    font-size: 20px;
}

@media screen and (min-width:200px) and (max-width: 768px) { 
    .main { 
      flex-direction:column;
      align-content: center;
      border: 0px;
      width: 170%;
      height: 50%;
    }
    .text{
        flex-direction:column;
        font-size: 20px ;
    }
    .social-media{
        font-size: 15px;
    }
    .social-media p{
        font-size: 15px;
    }

    .social-media li a{
        font-size: 15px;
    }
 }